/*android*/
html {
    position: relative;
}

body {
    /* Margin bottom by footer height */
    /*margin-bottom: 60px;*/
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body {
    padding: 0;
    background-color: #606060;
}

#caller {
  background-color: #000000;
  color: #ffffff;
}

#start {
    color: #ffffff;
}